$primary-color: #AA2423;
$primary-hover: #FF8400;
$primary-bg: #2185DA;
$primary-font: 'MyriadPro-Cond';
$second-font-bold: 'squareserifbold', 'MyriadPro-Cond';
$primary-font-regular: 'MyriadPro-Regular';
@font-face {
  font-family: 'MyriadPro-Cond';
  src: url('fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),  url('fonts/MyriadPro-Cond.otf')  format('opentype'),url('fonts/MyriadPro-Cond.woff') format('woff'), url('fonts/MyriadPro-Cond.ttf')  format('truetype'), url('fonts/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'squareserifbold';
    src: url('fonts/squareserif_bold-webfont.woff2') format('woff2'),
         url('fonts/squareserif_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/MyriadPro-Regular.otf')  format('opentype'),url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf')  format('truetype'), url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}/* =WordPress Core End
-------------------------------------------------------------- */
@mixin devicemin($width){
	@media only screen and (min-width: $width){
		@content;
	}
}
/* scroll Top*/
.scrollup{
    width: 40px;
    height: 40px;
	border-radius:50%;
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none;
    z-index:9999;
    background: url('images/up.png') no-repeat ;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
    opacity:0.65;	
}
.scrollup:hover{opacity:1;}

@media (min-width: 1200px){
	.container {max-width: 100%;}
}
@media (min-width: 1180px){
	.container {max-width: 1350px;}
}
a, input[type='submit']{
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	outline: none;
	}
a:hover{text-decoration: none;}
img{max-width: 100%;height: auto;}
h1,h2,h4,h3,h5,h6{font-family: $second-font-bold;font-weight: 400;}
h1{	
	font-size: 26px;
	line-height: 29px;
	letter-spacing: -0.75px;
	font-weight: 400;
	margin-bottom: 20px;
}
h2{	
	font-size: 24px;
	line-height: 27px;
	letter-spacing: -0.5px;
	font-weight: 400;
	margin-bottom: 15px;
}
h3{	
	font-size: 22px;
	line-height: 25px;
	letter-spacing: -0.5px;
	font-weight: 400;
	margin-bottom: 13px;
}
h4{	
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -0.5px;
	font-weight: 400;
	margin-bottom: 12px;
}
h5{	
	font-size: 18px;
	line-height: 21px;
	letter-spacing: -0.45px;
	font-weight: 400;
	margin-bottom: 10px;
}
h6{	
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.45px;
	font-weight: 400;
	margin-bottom: 10px;
}
ul, ol{
	padding-left: 0px;
	margin-left: 0;
}
li{
	list-style-position: inside;
	margin-bottom: 6px;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.5px;
}
p{
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.5px;
}
@media (min-width: 768px) {
	h1{	
		font-size: 30px;
		line-height: 34px;
		margin-bottom: 28px;
	}
	h2{	
		font-size: 27px;
		line-height: 30px;
		margin-bottom: 25px;
	}
	h3{	
		font-size: 24px;
		line-height: 27px;
		margin-bottom: 23px;
	}
	h4{	
		font-size: 21px;
		line-height: 24px;
		margin-bottom: 20px;
	}
	h5{	
		font-size: 19px;
		line-height: 21px;
		margin-bottom: 18px;
	}
	h6{	
		font-size: 17px;
		line-height: 20px;
		margin-bottom: 16px;
	}
	li{
		font-size: 18px;
		line-height: 21px;
	}
	p{
		font-size: 18px;
		line-height: 30px;
	}
}
body{
	font-family: $primary-font;
	color:$primary-color;
	background-color: #fff;
}
/*Header*/
.as_header{
	padding: 85px 0px;
	border-bottom: 10px solid #fff;
	position: relative;
	z-index: 1;
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
	&:before{
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba(85, 85, 85, 0.92);
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	h1{
		font-size: 40px;
		line-height: 40px;	
		margin-bottom: 10px;	
	}
	h2{
		font-size: 34px;
		line-height: 34px;	
		margin-bottom: 10px;	
	}

	h4{
		font-size: 26px;
		line-height: 29px;	
		font-family: $primary-font;
		font-weight: 400;	
		margin-bottom: 10px;
		max-width: 75%;
	}
	p{
		font-size: 16px;
		line-height: 19px;
		a{
			color:#fff;
			text-decoration: underline;
			&:hover{
				color:$primary-hover;
			}
		}
	}
	
	.headerLeft{
		position: relative;
		z-index: 3;
		color:#fff;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
	}
}
.searchJob{
	input{
		border:none;
		border-radius: 3px;
		padding: 2px 7px;
		color:#C7C7C7;
		font-style: italic;
		background-color: #fff;
		height: 40px;
		width:100%;
		margin-bottom: 5px;
		background-image: url('images/search.png');
		background-repeat: no-repeat;
		background-position: 97% 10px;
		background-size: 20px 20px;
		padding-right: 30px;
		font-size: 18px;
		line-height: 21px;
	}
	input[type='submit']{
		padding: 5px 7px;
		color:#fff;
		font-style: normal;
		background: $primary-color;
		cursor: pointer;
		&:hover{
			background: #FF8400;
		}
	}
	p{
		margin: 0;
		padding: 0;
	}
}
.main_banner{
	display: none;
}
.mainHeader{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 3;
}
.main_menuOuter{
	background-color: #fff;
	padding: 5px 10px;
}
.as_mobile_menu{
	border-radius: 4px;
	width: 40px;
	float: right;
	i{
		width:40px;
		height: 40px;
		border:none;
		text-align: center;
		background-color: $primary-color;
		color:#fff;
		display: block;
		font-size: 20px;
		line-height: 40px;
		border-radius: 4px;
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
	}
	&:hover{
		i{
			background-color: $primary-hover;
		}
	} 
}


@include devicemin(480px){
	.searchJob{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;	
		flex-wrap:wrap;	
		max-width: 580px;
		width:100%;
		input{
		  	width: 68%;
		  	flex: 0 68%
		}
		input[type='submit']{
   			width: 30%;
   			flex: 0 30%;
   			margin-left: 2%;
		}
	}
}
@include devicemin(768px){
	.as_header{
		.headerLeft{
			max-width: 500px;
		}
	}
	.main_banner{
		z-index: 3;
		position: absolute;
		top: 50%;
		right: -45px;
		width:250px;
		height: 250px;
		-webkit-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		-o-transform: translate(0,-50%);
		transform: translate(0,-50%);
		display: block;
		.bgimg{
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width:250px;
			height: 250px;
			position: relative;
			z-index: 3;
			border-radius: 50%;
			border:15px solid #747373;
			overflow: hidden;
			&:before{
				width: 100%;
				height: 100%;
				z-index: 4;
				background-color: rgba(255, 240, 0, 0.52);
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}
@include devicemin(992px){
	.as_header{
		.headerLeft{
			max-width: 500px;
		}
	}
	.main_banner{
		right: -100px;
		width:550px;
		height: 550px;
		.bgimg{
			width:550px;
			height: 550px;			
		}
	}
}
@include devicemin(1820px){
	.main_banner{
		right: -160px;
		top:44%;
		width:965px;
		height: 965px;
		.bgimg{
			width:965px;
			height: 965px;
			border-width: 35px;
		}
	}
}

@include devicemin(1200px){
	.as_header{
		padding: 85px 0px;
		h1{
			font-size: 65px;
			line-height: 65px;	
			margin-bottom: 15px;	
			letter-spacing: -1.65px;
		}
		h2{
			font-size: 48px;
			line-height: 52px;	
			letter-spacing: -1.15px;
		}
		h4{
			font-size: 36px;
			line-height: 41px;	
			margin-bottom: 15px;
			max-width: 460px;
			letter-spacing: 0px;
		}
		p{
			font-size: 18px;
			line-height: 21px;
		}
		
		.headerLeft{
			max-width: 800px;
			min-height: 375px;
		}
	}
	.searchJob{	
		margin:33px 0px 15px;
		max-width: 578px;
		input{
		  	height:60px;
		  	font-size: 24px;
		  	line-height: 27px;
		  	flex: 0 73%;
		  	padding:5px 45px 5px  25px;
		  	background-position: 96% 20px;
		  	background-size: 25px 25px;
		}
		input[type="submit"]{
	  		flex: 0 25%;
	  		letter-spacing: 0.9px;
	  	}
	  	p{
	  		padding-top: 10px;
	  		letter-spacing: 0px;
	  	}
	}
}

.main_menu{display: none;}

.contactCall{
	float: right;
	padding-right: 10px;
	padding-top: 8px;
	p{
		font-size: 20px;
		line-height: 23px;
		margin: 0;
		color:#2F2F2F;
		display: inline-block;
		position: relative;
		padding-left: 25px;
		&:before{
			position: absolute;
			left: 0;
			top: 0px;
			font-size: 20px;
			color: $primary-color;
			content: "\f27b";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
		}
		span{
			display: none;
		}
		a{
			text-decoration: none;
			color: $primary-color;
		}
	}
}
.extraMenu{
	a{
		color:#fff;
		background-color: #2B2B2B;
		text-align: center;
		padding:5px 10px;
		font-size: 16px;
		line-height: 19px;
		&:hover{
			opacity: 0.85;
		}
		&.primary{
			background-color: $primary-color;
		}
		&.secondary{
			background-color: $primary-hover;
		}
	}
}
.logo{
	display: none;
}
.smaillLogo{
	float: left;
}
@include devicemin(480px){	
	.contactCall{
		p{
			span{
				display: inline-block;
				padding-right: 5px;
			}
		}
	}
}

@include devicemin(768px){
	.smaillLogo{
		display: none;
	}
	.logo{
		display: block;
	}
}
@include devicemin(1200px){
	.as_header{
		padding: 118px 0px 122px;
		.headerLeft{
			min-height: 375px;
		}
	}
	.as_mobile_menu{display: none!important;}
	.main_menu{
		display: block!important;
		float: left;
		padding-right: 20px;
	}
	.main_menuOuter{
		color:#2F2F2F;
		ul{
			padding: 0;
			margin: 0;
			li{
				margin: 0;
				padding: 0;
				font-size: 24px;
				line-height: 27px;
				position: relative;
				a{
					display: block;
					margin: 0;
					padding:5px 7px;
					&:hover{
						color: $primary-color
					}
				}
				ul{
					position: absolute;
					top:100%;
					left: 0px;
					padding-top: 10px;
					background-color: #fff;
					li{
						list-style: none;
					}
				}
			}
		}
		a{
			color:#2F2F2F;
		}
	}
	.contactCall{
		padding:3px 0px 0px;
		p{
			font-size: 24px;
			line-height: 27px;
			letter-spacing: 0.6px;
		}
	}
	.extraMenu{
		a{	
			padding:11px 20px;
			font-size: 18px;
			line-height: 21px;		
			letter-spacing: 0.55px;
			min-width: 180px;	
		}
	}
}
@include devicemin(1380px){
	.main_menuOuter{
		padding:15px 18px;
		ul{
			li{
				font-size: 28px;
				line-height: 31px;
				a{
					padding:5px 7px;
				}
			}
		}
	}
	.contactCall{
		p{
			font-size: 28px;
			line-height: 31px;
		}
	}
}

/*Black Section*/
.bgimgBlack{
	background-color: #3B3B3B;
	color:#fff;
	background-image: url('images/blackbg.jpg');
	background-repeat: repeat-x;
	padding: 25px 0px;
	h3{
		font-size: 28px;
		line-height: 31px;
		letter-spacing: -0.5px;
		font-weight: 400;
		margin-bottom: 12px;
	}
}
.jobCategory{
	ul{
		margin: 0;
		padding: 0;
		max-width: 328px;
		li{
			list-style: none;
			font-size: 18px;
			line-height: 21px;
			letter-spacing: 0.25px;
			margin-bottom: 6px;
			a{
				color:#FFFFFF;
				&:hover, &.active{
					color: $primary-hover;
				}
			}
		}
	}
}
.whySolosOuter, .jobCategoryOuter, .latestJobOuter{
	margin: 20px 0px 12px;
}
.whySolos{	
	p{
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0.25px;
		margin-bottom: 12px;
		a{
			color: $primary-color;
			&:hover{
				color: $primary-hover;
			}
		}
		strong{
			font-weight: 700;
			color:$primary-hover;
		}
	}
}

.jobBox{
	color:#fff;
	border:1px solid #9D9D9D;
	background-color: #9D9D9D;
	margin:10px 0px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	padding: 15px 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	min-height: 166px;
	h5{
		font-family: $primary-font;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.5px;
		font-weight: 700;
		margin-bottom: 7px;
	}	
	address{
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.5px;
		font-weight: 400;
		margin-bottom: 0;
	}
	&:hover{
		background-color: $primary-hover;
	}
}
@include devicemin(440px){
	.jobCategory{
		ul{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;			
			li{
				width:50%;
				padding-right: 10px;
			}
		}
	}
}
@include devicemin(576px){
	.bgimgBlack{
		padding: 50px 0px 20px;
	}
	.jobCategory{
		ul{		
			li{
				width:100%;
				padding-right: 0px;
			}
		}
	}
	.jobBox{		
		h5{
			margin-bottom: 0px;
			line-height: 30px;
		}
	}
}
@media (max-width: 991px) and (min-width: 769px){
	.jobBox{
		padding:20px 15px;
	}
}
@include devicemin(992px){
	.bgimgBlack{
		padding: 75px 0px 20px;
		h3{
			font-size: 30px;
			line-height: 34px;
			letter-spacing: -0.9px;
			margin-bottom: 27px;
		}
	}
	.jobCategory{
		ul{		
			li{
				font-size: 21px;
				line-height: 24px;
				margin-bottom: 3px;
				width:50%;
				padding-right: 10px;
			}
		}
	}
	.whySolos{	
		h3{
			margin-bottom: 15px;
		}
		p{
			font-size: 21px;
			line-height: 24px;
			letter-spacing: 0.29px;
			margin-bottom: 18px;
		}
	}
	.latestJobOuter{
		h3{
			margin-bottom: 19px;
		}
	}
}
@include devicemin(1380px){
	.bgimgBlack{
		padding:100px 0px 33px;
		h3{
			font-size: 33px;
			line-height: 37px;
		}
	}
	.jobCategory{
		ul{		
			li{
				font-size: 24px;
				line-height: 27px;
				letter-spacing: 0.0px;
			}
		}
	}
	.whySolos{	
		p{
			font-size: 24px;
			line-height: 27px;
		}
	}
}
/*Footer*/
.footerBottom{
	background-color: #2B2B2B;
	color:#A2A2A2;
	font-family: $primary-font;
	padding: 15px 0px;
	.copyRight{
		margin-top: 15px;
	}
	a{
		color:#A2A2A2;
		&:hover{
			color:#fff;
		}
	}
	p{
		padding: 0;
		margin: 0;
		font-size: 16px;
		letter-spacing: 0.5px;
		line-height: 19px;
		font-weight: 400;
		
	}
	ul{
		padding: 0;
		margin: 0;
		li{
			font-size: 16px;
			line-height: 19px;
			padding:3px 7px;
			margin: 0;
			letter-spacing: 0.5px;
			font-weight: 400;
			a{
				display: block;				
			}
		}
	}
}
@include devicemin(768px){
	.footerBottom{
		padding: 25px 0px;
		.copyRight{
			margin-top: 0px;
			max-width: 230px;
		}
		p{
			font-size: 18px;
			letter-spacing: 0px;
			line-height: 21px;
		}
		ul{
			li{
				font-size: 18px;
				line-height: 21px;
				padding:3px 7px;
				letter-spacing: 0px;				
			}
		}
	}
}
@include devicemin(992px){
	.footerBottom{
		padding:33px 0px;
	}
}

/*About Us*/
.contentQuestion{
	padding:25px 0px;
	background-color: #3B3B3B;
	color:#fff;
	font-family: $second-font-bold;
	font-weight: 400;	
	span,a{
		color:$primary-color;		
	}
	span{
		letter-spacing: -0.7px;
	}
	a:hover{
			color:$primary-hover;
		}
	h1{
		font-size: 33px;
		line-height: 33px;
		margin-bottom: 16px;
	}
	h2{
		font-size: 27px;
		line-height: 30px;
		margin-bottom: 14px;
	}
	h3{
		font-size: 23px;
		line-height: 27px;
		margin-bottom: 12px;
	}
	h4{
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 10px;
	}
	h5{
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 8px;
	}
	h6{
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 7px;
	}
	p,li{
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 10px;
		letter-spacing: 0.5px;
		font-family: $primary-font-regular;
	}
}
.quateBoxOuter{
	border:8px solid #A42829;
	background-color: #E37B7C;
	border-radius: 3px;
	position: relative;
	margin:20px 0px 0px;
	max-width: 300px;
	&:before{
		position: absolute;
		left: 15px;
		top: 50%;
		font-size: 30px;
		color: #fff;
		content: "\f27b";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		-webkit-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		-o-transform: translate(0,-50%);
		transform: translate(0,-50%);
	}
	p,h5{
		font-family: $primary-font;
		font-weight: 700;
		letter-spacing: 0.5px;
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 0;
	}
	p{
		font-weight: 400;		
	}
	a{
		color:#fff;
		&:hover{
			color:$primary-hover;
		}
	}
	.quateBoxInner{
		border-radius: 3px;
		background-color: #A62E2F;
		padding:10px 10px 15px 50px;
		border:3px solid #E37B7C;
		background-image: url('images/quarebd.jpg');
		background-repeat: repeat;
		background-size: auto 100%;
	}
}
@include devicemin(576px){
	.contentQuestion{
		.midddleText{
			max-width: 640px;
		}
	}
}
@include devicemin(1200px){
	.quateBoxOuter{		
		border-width: 16px;
		margin:0px;
		max-width: 510px;
		&:before{
			font-size: 30px;
			left:15px;
		}
		p,h5{
			letter-spacing: 0.0px;
			font-size: 30px;
			line-height: 34px;
		}
		h5{
			letter-spacing: 0.25px;
		}
	}
	.contentQuestion{
		padding: 60px 0px;
		h1{
			font-size: 38px;
			line-height: 41px;
			margin-bottom: 26px;
		}
		h2{
			font-size: 33px;
			line-height: 37px;
			margin-bottom: 24px;
		}
		h3{
			font-size: 28px;
			line-height: 31px;
			margin-bottom: 22px;
		}
		h4{
			font-size: 24px;
			line-height: 27px;
			margin-bottom: 20px;
			letter-spacing: -0.6px;
		}
		h5{
			font-size: 22px;
			line-height: 25px;
			margin-bottom: 18px;
		}
		h6{
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 15px;
		}
		p,li{
			font-size: 22px;
			line-height: 30px;
			margin-bottom: 10px;
			letter-spacing: -0.40px;			
		}
		span{
			font-size: 24px;
		}
		.quateBoxOuter{
			p,h5{
				letter-spacing: 0.0px;
				font-size: 30px;
				line-height: 34px;
			}
			h5{
				letter-spacing: 0.25px;
			}
		}
	}
}
@include devicemin(1380px){	
	.contentQuestion{
		.quateBoxOuter{		
			.quateBoxInner{
				padding:39px 25px 48px 100px;
			}
			border-width: 8px 16px 12px;			
			&:before{
				font-size: 60px;
				left:30px;
				font-weight: 700;
			}
			p,h5{
				letter-spacing: 1.0px;
				font-size: 33px;
				line-height: 46px;
				margin-bottom: 0;
			}
			h5{
				letter-spacing: 2.8px;
				line-height: 30px;
			}
		}
	}
}
.contentSidebar{
	padding: 25px 0px;
	color:#3B3B3B;	
}
.fexiContent{
	font-family: $primary-font-regular;
	margin:25px 0px;
	max-width: 700px;
	a{
		color:$primary-hover;
		&:hover{
			text-decoration: underline;
		}
	}
	h1{
		font-size: 28px;
		line-height: 31px;
		color:$primary-color;
		margin-bottom: 0px;
	}
	h2{
		font-size: 24px;
		line-height: 29px;
		color:$primary-color;
		margin-bottom: 0px;
	}
	h3{
		font-size: 22px;
		line-height: 27px;
		color:$primary-color;
		margin-bottom: 0px;
	}
	h4{
		font-size: 22px;
		line-height: 24px;
		color:$primary-color;
		margin-bottom: 0px;
		font-family: $primary-font-regular;
		font-weight: 700;
	}
	h5{
		font-size: 20px;
		line-height: 24px;
		color:$primary-color;
		margin-bottom: 0px;
	}
	h6{
		font-size: 18px;
		line-height: 21px;
		color:$primary-color;
		margin-bottom: 0px;
	}
	p{
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0px;
		line-height: 19px;
		margin-bottom: 15px;
	}	
	ul{
		margin-bottom: 15px;
		li{
			list-style: none;
			padding-left: 10px;
			position: relative;
			font-size: 16px;
			line-height: 19px;
			font-weight: 400;
			letter-spacing: 0px;
			margin-bottom: 5px;
			&:before{
				position: absolute;
				left: 0px;
				top: 2px;
				font-size: 7px;
				color: #3B3B3B;
				content: "\f068";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
			}
		}
	}
}
.joblatest{
	margin:20px auto;
	max-width: 510px;
	p{
		padding:15px 0px;
		a{
			color:$primary-color;
			font-size: 18px;
			line-height: 21px;
			letter-spacing: 0px;
			text-decoration: underline;
			&:hover{
				color:$primary-hover;
			}
		}
	}
}
.joblatestInner{
	background-color: #F4F4F4;	
	.jobHeading{
		border:1px solid #CBCBCB;
		padding: 15px;
		h3{
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0px;
			margin-bottom: 5px;
		}
	}
	.jobSearch{
		input{
			border:1px solid #AEAEAE;
			border-radius: 2px;
			font-style: italic;
			margin-bottom: 5px;
			padding: 3px 35px 3px 15px;
		    background-position: 96% 8px;
		    background-size: 15px 15px;		    
     		background-image: url(images/search.png);
   			background-repeat: no-repeat;
   			height: 32px;
   			&[type='submit']{
   				padding: 3px 12px;
				color: #fff;
				font-style: normal;
				background: #AA2423;
				cursor: pointer;
				-webkit-transition: all 0.4s;
				-o-transition: all 0.4s;
				transition: all 0.4s;
				border:none;
				&:hover{
					background:$primary-hover;
				}
   			}
		}
	}
	.jobArea{
		padding:0px 15px 15px;		
		.boxJob{
			margin:20px 0px;
			padding:0px 25px;
			position: relative;
			&:before{
				position: absolute;
				left: 0px;
				top: 0px;
				height: 100%;
				width:20px;
				display: block;
				content: '';
				background-image: url('images/job.png');
				background-size: 20px 18px;
				background-repeat: no-repeat;
				background-position: 0px center;
			}
			&:after{
				position: absolute;
				right: 0px;
				top: 50%;
				font-size: 30px;
				color: #3B3B3B;
				content: "\f054";
				font-family: FontAwesome;				
				font-style: normal;
				font-weight: 700;
				text-decoration: inherit;
				-webkit-transform: translate(0,-50%);
				-ms-transform: translate(0,-50%);
				-o-transform: translate(0,-50%);
				transform: translate(0,-50%);
				-webkit-transition: all 0.4s;
				-o-transition: all 0.4s;
				transition: all 0.4s;
			}
			&:hover{
				&:after{
					color:$primary-color;
				}
			}
		}
		h5{
			font-family: $primary-font-regular;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0px;
			color: $primary-color;
			font-weight: 700;
			margin-bottom: 0px;
		}
		p{
			font-family: $primary-font-regular;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0px;
			color: #3B3B3B;
			font-weight: 400;
			padding: 0px;
		}
	}
}
@include devicemin(440px){
	.jobHeading{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items:center;
	}
	.joblatestInner{
		.jobSearch{
			input{
				float: left;
				width:68%;
	   			&[type='submit']{
	   				float: right;
					width:30%;

	   			}
			}
		}
		.jobArea{		
			.boxJob{
				padding:0px 35px;
				position: relative;
				&:before{
					width:30px;
					background-size: 28px 22px;
				}
			}
		}
	}
}
@include devicemin(992px){
	.jobHeading{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: start;
	}
	.joblatest{
		margin:20px 0px 20px auto;	
	}
}

@include devicemin(1200px){
	.joblatest > p{
		font-family: $primary-font-regular;
	}
	.fexiContent{
		ul{
			li{
				font-size: 22px;
			}
		}
	}
	.contentSidebar{
		min-height: 563px;
		padding:40px 0px;
	}
	.fexiContent{		
		h1{
			font-size: 32px;
			line-height: 35px;
		}
		h2{
			font-size: 28px;
			line-height: 31px;
		}
		h3{
			font-size: 24px;
			line-height: 28px;
		}
		h4{
			font-size: 24px;
			line-height: 27px;
			letter-spacing: 0.0px;
		}
		h5{
			font-size: 22px;
			line-height: 24px;
		}
		h6{
			font-size: 20px;
			line-height: 21px;
		}
		p{
			font-size: 22px;
			font-weight: 400;
			letter-spacing: -0.55px;
			line-height: 25px;
			margin-bottom: 33px;
		}	
		ul{
			margin-bottom: 15px;
			li{
				list-style: none;
				padding-left: 10px;
				position: relative;
				font-size: 22px;
				line-height: 25px;
				font-weight: 400;
				letter-spacing: -0.5px;
				margin-bottom: 1px;
				&:before{
					position: absolute;
					left: 0px;
					top: 2px;
					font-size: 7px;
					color: #3B3B3B;
					content: "\f068";
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
				}
			}
		}
	}
}
@include devicemin(1380px){
	.jobHeading{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row ;
		justify-content: space-between;
		align-items:center;		
	}
	.joblatestInner{
		.jobHeading{
			padding: 18px 18px 11px 36px ;
			h3{
				font-size: 24px;
				line-height: 27px;
				letter-spacing: -0.75px;
			}
		}
		.jobSearch{
			width:305px;
			input{
				width:73%;
	   			&[type='submit']{
	   				width:25%;
	   				letter-spacing: -0.5px;
	   			}
			}
		}
		.jobArea{
			padding:0px 15px 15px;		
			.boxJob{
				margin:13px 0px;
				padding:0px 53px;
				&:before{
					width:45px;
					background-size: 28px 22px;
					background-position: 11px center;
				}
				&:after{
					font-size: 35px;
				}
			}
			h5{
				letter-spacing: 0.05px;
			}
			p{
				letter-spacing: -0.5px;
			}
		}
	}
}
@include devicemin(1820px){
	.leftChalf{
		position: relative;
		&:before{
			position: absolute;
			left: 0px;
			top:0px;
			content:'';
			display: block;
			height: 100%;
			width:220px;
			background-image: url('images/halfcircle.png');
			background-repeat: no-repeat;
			background-position: 0% center;
		}
	}
} 
.smallHeader.as_header{
	padding: 110px 0px 30px;
	.searchJob{
		max-width: 380px;
	}
	.mainHeader{
		top:12px;
		bottom:auto;
	}
	.main_banner{
		.bgimg{
			&:before{
				background-color:rgba(255, 132, 0, 0.52);
			}
		}
	} 
}

@include devicemin(992px){
	.smallHeader.as_header{
		.headerLeft{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-flex-direction: row;
			-moz-flex-direction: row;
			-ms-flex-direction: row;
			-o-flex-direction: row;
			flex-direction: row;
			justify-content: space-between;
			align-items:center;
			max-width: 100%;
			position: relative;
			z-index: 4;
			h2{
				margin-bottom: 0px;
			}
		}
	}
	
}
@include devicemin(1200px){
	.smallHeader.as_header{
		.headerLeft{
			min-height: 100px;
			max-width: 100%;
			.searchJob{
				max-width: 578px;
			}
			h2{
				margin-bottom: 0px;
			}
		}
	}
	
}
@include devicemin(1380px){
	.smallHeader.as_header{
		padding: 135px 0px 33px;
		.headerLeft{
			min-height: 120px;
			.searchJob{
				margin:0px;				
			}
		}
	}
	
}